@font-face {
  font-family: 'Andika';
  src: url('./assets/fonts/Andika/Andika-Bold.ttf'),
    url('./assets/fonts/Andika/Andika-BoldItalic.ttf'),
    url('./assets/fonts/Andika/Andika-Italic.ttf'),
    url('./assets/fonts/Andika/Andika-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

:root {
  --color-primary: #88706B;
  --color-bg:  #ffffff;
  --color-light: #f4f4f4;
  --color-link: #025d7f;
  --color-hover: #00A3E0;
}